nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #BCC2E5;
    padding: 10px;
}

.legenda{
    display: flex;
    gap: 10px;
}

.legenda li{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cor{
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.azul{
    background: #3347B0;
}

.amarelo{
    background-color: #E5B657;
}

.status{
    font-family: 'Roboto';
    font-size: 1rem;
    color: #3347B0;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #3347B0;
}

main{
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

h1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 75px;
    color: #3347B0;
}

.alunos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    animation: zoom 1.5s;
}

.cards-alunos{
    margin: 1%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    transition: all ease-in-out .5s;
}

.cards-azul{
    background-color: #3347B0;
}
.cards-azul:hover{
    box-shadow: 10px 10px rgba(51, 71, 176, 0.5);
}

.cards-amarelo{
    background-color: #E5B657;
}
.cards-amarelo:hover{
    box-shadow: 10px 10px rgba(176, 157, 51, 0.5);
}

.cards-alunos img{
    margin-top: 20px;
    width: 70%;
}

.cards-alunos span{
    margin: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu{
    display: flex;
    gap: 30px;
}

.menu li{
    position: relative;   
}

.menu li a {
    display: block;
}

.menu li ul{
    position: absolute;
    display: none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    padding: 10px;
    background: #3347B0;
    display:block;
}

.inativo{
    display: none;
}

.cards-alunos a {
    background-color: aqua;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.ano-container{
    display: flex;
    gap: 10px;
}

.clear{
    cursor: pointer;
}

@keyframes zoom{
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

@media(max-width: 1400px){
    h1{
        font-size: 3rem;
        text-align: center;
    }
    .ano-container{
        display: none;
    }
}